<div class="container">
	<div class="col-md-offset-2 col-md-8 log-theme">
		<h2>Changer votre mot de passe</h2>
		
		<div class="col-md-offset-1 col-md-10">
			{{ form_start(form, { 'attr': {'class': ''} })  }}
				<div class="form-group">
					{{ form_label(form.current_password, "Mot de passe actuel") }}
					{{ form_widget(form.current_password,{'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.current_password) }}
				</div>
				
				<div class="form-group">
					{{ form_label(form.plainPassword.first, "Nouveau mot de passe") }}
					{{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.plainPassword.first) }}
				</div>
				
				<div class="form-group">
					{{ form_label(form.plainPassword.second, "Confirmer le nouveau mot de passe") }}
					{{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.plainPassword.second) }}
				</div>
				
				<button type="submit" class="btn btn-success col-md-offset-5">Soumettre</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>