{# src/BaseBundle/Resources/views/Home/index.html.twig #}
{% extends "::base.html.twig" %}

	{% block header %}
			<header class="intro">
				<div class="container">
			<span class="brand-name">
				Bienvenue sur FavYour
			</span>
			<h1>Vos projets, votre aide</h1>
			<a href="{{path('bepushed')}}" class="btn btn-cta"><i class="fa fa-chevron-circle-right"></i> Découvrir !</a>
		</div>
	</header>
	{% endblock %}

		
	{% block body %}

	<section class="projet-semaine">
		<div class="container">
			<h1 class="titre-projetsemaine">Projets de la semaine</h1>
			<div class="row">

			{% for project in projects %}	
	        <div class="col-lg-4 text-center">
	          <img class="img-circle" src="{{ asset('uploads/documents/' ~ project.path) }}" alt="" width="140" height="140">
	          <h3>{{project.title}}</h3>
	          <p>{{ project.description | slice(0,230) ~ '...' }}</p>
				
			  <div class="progress bar-prog-index">
						          	  {% set integer = project.amountWon / project.amountRequested * 100 %}
							          <div class="progress-bar" role="progressbar" aria-valuenow="{{integer}}" aria-valuemin="0" aria-valuemax="100" style="width:{{integer}}%;">
							            {{ integer | number_format(0) }}%
							          </div>
			 </div>

	          <p><a class="btn btn-default" href="{{ path('project_show', {'id': project.id}) }}" role="button">En savoir plus »</a></p>
	          </div><!-- /.col-lg-4 -->

	        {% endfor %}
	      </div>

	      <h1 class="titre-projetsemaine">Derniers projets</h1>
			<div class="row">

			{% for lastProject in lastProjects %}	
	        <div class="col-lg-4 text-center">
	          <img class="img-circle" src="{{ asset('uploads/documents/' ~ lastProject.path) }}" alt="" width="140" height="140">
	          <h3>{{lastProject.title}}</h3>
	          <p>{{ lastProject.description | slice(0,230) ~ '...' }}</p>

	          <div class="progress bar-prog-index">
						          	  {% set integer = lastProject.amountWon / lastProject.amountRequested * 100 %}
							          <div class="progress-bar" role="progressbar" aria-valuenow="{{integer}}" aria-valuemin="0" aria-valuemax="100" style="width:{{integer}}%;">
							            {{ integer | number_format(0) }}%
							          </div>
			 </div>

	          <p><a class="btn btn-default" href="{{ path('project_show', {'id': lastProject.id}) }}" role="button">En savoir plus »</a></p>
	          </div><!-- /.col-lg-4 -->

	        {% endfor %}
	      </div>
	    </div>
	</section>

	{% endblock %}


