	{# src/ProjectBundle/Resources/views/Project/show.html.twig #}
{% extends "::base.html.twig" %}

	
				{% block body %}
					<div class="container">
						<div class="col-md-offset-2 col-md-8 log-theme">
							<h2>Lancez votre projet</h2>

								<div class="col-md-offset-1 col-md-10">
									{{ form_start(form, { 'attr': {'class': ''} })  }}


						            <div class="form-group">
										{{ form_label(form.categorie) }}
										{{ form_widget(form.categorie,{'attr': {'class': 'form-control'}}) }}
							      		{{ form_errors(form.categorie) }}
									</div>

									<div class="form-group">
										{{ form_label(form.title, "Titre de l'annonce") }}
										{{ form_widget(form.title,{'attr': {'class': 'form-control','placeholder' : "Titre de l'annonce"}}) }}
							      		{{ form_errors(form.title) }}
									</div>

									<label class="control-label">Photo du projet</label>
									<div class="clearfix"></div>

									<div class="form-group">
										{{ form_label(form.location, "Localisation") }}
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
											{{ form_widget(form.location,{'attr': {'class': 'form-control','placeholder' : "Lieu de réalisation du projet"}}) }}
										</div>
							      		{{ form_errors(form.location) }}
									</div>

									<div class="form-group">
										{{ form_label(form.duree,"Durée") }}
										{{ form_widget(form.duree,{'attr': {'class': 'form-control','placeholder' : "Durée de la quête de fond en jours"}}) }}
							      		{{ form_errors(form.duree) }}
									</div>

									<div class="form-group">
										{{ form_label(form.amountRequested,"Objectif") }}
										<div class="input-group">
									      	<div class="input-group-addon">€</div>
											{{ form_widget(form.amountRequested,{'attr': {'class': 'form-control','placeholder' : "Somme nécessaire à la realisation du projet"}}) }}
										</div>
							      		{{ form_errors(form.amountRequested) }}
									</div>

									<div class="form-group">
										{{ form_label(form.description) }}
										{{ form_widget(form.description,{'attr': {'class': 'form-control','placeholder' : "Attirez un maximum de pushers en donnant une description précise et attrayante de votre projet"}}) }}
							      		{{ form_errors(form.description) }}
									</div>

						        <button type="submit" class="btn btn-success col-md-offset-4 col-md-4">Démarrer le projet !</button>
					        </div>


		        {{ form_end(form) }}

			</div>
		</div>
	{% endblock %}

	