{# src/ProjectBundle/Resources/views/Project/show.html.twig #}
{% extends "::base.html.twig" %}

	{% block body %}


	<div class="container container-profil col-md-12">
      

      <div class="col-md-1"></div>
      <div class="col-md-11">
        <h2>{{project.title}}</h2>

        <div class="col-md-4">
        	   <img src="{{ asset('uploads/documents/' ~ project.path) }}" alt="" class="img-circle avatar-projet">
    		
      
              <div class="col-md-8 bar-avancement-project">
                <div class="progress bar-prog-index">
                                {% set integer = project.amountWon / project.amountRequested * 100 %}
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{integer}}" aria-valuemin="0" aria-valuemax="100" style="width:{{integer}}%;">
                                  {{ integer | number_format(0) }}%
                                </div>
                    </div>
              </div>
        </div>

        <div class="col-md-8">

          {% if project.active == 0 %}
            <h2>Le projet a été supprimé par son créateur</h2>
          {% else %}

          <section class="padding-section1-projet">
            <div class="col-md-3">
              <span>
                <h1>{{project.amountRequested}} €</h1>
              </span>
              <span>
                <h4>Demandés</h4>
              </span>

              
              
            

            </div>
            <div class="col-md-3">
              <span>
                <h1>{{project.amountWon}} €</h1>
              </span>
              <span>
                <h4>Récoltés</h4>
              </span>
            </div>


          <div class="col-md-3">
              <span>
                    {% if project.endDate | date('U') >= date().timestamp %}
                    <h1>                     
                      {{ (project.endDate | date('U') - date().timestamp ) | date('d') }}
                    </h1>
              </span>
              <span>
                <h4>Jours restants</h4>
              </span>
            {% else %}
              <h1>Quête terminée</h1>
            {% endif %}
            </div>



            <div class="col-md-3">
              <span>
                <h1>{{project.pushers}}</h1>
              </span>
              <span>
                <h4>Pushers</h4>
              </span>
            </div>


            
          </section>
          
          <section class="marge-btn-projet">
            <div class="col-md-3">
              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <label> Entrez le montant
                  <input type="text" name="amount" placeholder="montant"/>
                </label>
                <input name="currency_code" type="hidden" value="EUR" />
                <input name="shipping" type="hidden" value="0.00" />
                <input name="tax" type="hidden" value="0.00" />
                <input name="return" type="hidden" value="http://www.ens.math-info.univ-paris5.fr/~ig09199/success.html" />
                <input name="cancel_return" type="hidden" value="http://www.ens.math-info.univ-paris5.fr/~ig09199/cancel.html" />
                <input name="notify_url" type="hidden" value="http://www.ens.math-info.univ-paris5.fr/~ig09199/ipn.php" />
                <input name="cmd" type="hidden" value="_xclick" />
                <input name="business" type="hidden" value="aroulpsg-facilitator@hotmail.fr" />
                <input name="item_name" type="hidden" value="Don" />
                <!--input name="no_note" type="hidden" value="1" />
                <input name="lc" type="hidden" value="FR" />
                <input name="bn" type="hidden" value="PP-BuyNowBF" /-->
                <input name="custom" type="hidden" value="var1=1&var2=lol" />
                <input type="submit" value="Faire un don">
              </form>
            </div>
            <div class="col-md-3"> 
              <a href="{{ path("ajouter-favoris", { id: project.id} ) }}" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Ajouter aux favoris</a>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Partager sur Facebook</button>
            </div>
            <div class="col-md-3">
              
            </div>
          </section>


          <section>
            <div class="col-md-12 info-project marge-info">
              <table>
                <tbody>
                  <tr>
                    <th width="100px">Fondateurs : </th>
                    <td>Aroul Retina, Yannis Gil, Samuel Benichou, Salah Saiad</td>
                  </tr>
                  <tr>
                    <th>Localisation :</th>
                    <td>{{project.location}}</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </section>
          
          {% endif %}
        </div>
      </div>
    </div>
     
      <div class="col-md-1"></div>
      <div class="col-md-10 margin-tab-project">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Présentation</a></li>

          <li role="presentation" class=""><a href="#recompenses" role="tab" id="recompenses-tab" data-toggle="tab" aria-controls="recompenses" aria-expanded="false">Récompenses</a></li>

          <li role="presentation" class=""><a href="#publications" role="tab" id="publications-tab" data-toggle="tab" aria-controls="publications" aria-expanded="false">Publications</a></li>

          <li role="presentation" class=""><a href="#commentaires" role="tab" id="commentaires-tab" data-toggle="tab" aria-controls="commentaires" aria-expanded="false">Commentaires</a></li>

          
        </ul>



        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
            
            <h3 class="titre-descr-proj">Notre histoire</h3>
            <p>
              {{project.description|nl2br}}
            </p>

            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="recompenses" aria-labelledby="recompenses-tab">
            <p>
                
                <h3 class="text-right">1</h3>
                {% if project.titreRecompense1 != null %}
                  <h4 >{{ project.titreRecompense1 }}</h4>
                  {{ project.descriptionRecompense1}}
                {% endif %}
                <hr>
                <h3 class="text-right">2</h3>
                {% if project.titreRecompense2 != null %}
                  <h4 >{{ project.titreRecompense2 }}</h4>
                  {{ project.descriptionRecompense2}}
                {% endif %}
                <hr>
                <h3 class="text-right">3</h3>
                {% if project.titreRecompense3 != null %}
                  <h4 >{{ project.titreRecompense3 }}</h4>
                  {{ project.descriptionRecompense3}}
                {% endif %}
                <hr>
                <h3 class="text-right">4</h3>
                {% if project.titreRecompense4 != null %}
                  <h4 >{{ project.titreRecompense4 }}</h4>
                  {{ project.descriptionRecompense4}}
                {% endif %}
                <hr>
                <h3 class="text-right">5</h3>
                {% if project.titreRecompense5 != null %}
                  <h4 >{{ project.titreRecompense5 }}</h4>
                  {{ project.descriptionRecompense5}}
                {% endif %}

            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="publications" aria-labelledby="publications-tab">
            <p>
              3
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="commentaires" aria-labelledby="commentaires-tab">
            <p>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES * * */
                  var disqus_shortname = 'favyour';
                  
                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </p>
          </div>

        </div>
  </div>
  </div>  




	{% endblock %}